@import "_lib";

boxHeight = 80;

.tile-settings
	pos 0 0 0 0; top auto; bg sidebar-bg; color #fff; padding 25; height boxHeight;
	transition transform .3s ease-out; transform translateY(px(boxHeight));

	&.expanded
		transform translateY(0);

	input
		margin-right 10px; width 240px;


body.tile-settings-expanded .main
	bottom boxHeight;
