@import "_lib";

.tile
	float left; u 0; transition transform .2s ease-out; not-selectable(); position relative;
	margin: 5 0 0 5; line-height 1; word-wrap break-word; cursor default;
	border 1px solid rgba(#fff, 0.2); // bg #2E8DEF;
	lgradient #4689F0 #4D90FD; color #fff; shadow 1 1 1 #000 0.1;

	.fa
		width 100%; display block;

	&:hover
		shadow 0 0 0 4 #fff 0.2;

	&.selected
		shadow 0 0 0 3 #333 1 inset; border #333;

		&:after
		&:before
			pos 0 0; display block; content '';

		&:after
			border-top 30px solid #333; border-left 30px solid transparent; z 101;

		&:before
			top 3; right 3; color #fff; content: '\f00c'; font 200 12px 'FontAwesome'; z 102;


	&.pressed
		transform scale(0.95);

	&.sortable-ghost
		opacity .5

div.tile
	cursor move;


.container.layout-apps
	.tile
		size 120; padding 46 10 10; text-align center; font 22; font-weight 100;

		&.has-icon
			font 14;
			.fa
				margin -22 0 10; font 64;


.container.layout-list
	.tile
		float none; display block; size auto 30; padding 8 10 0;

	&.pressed
		transform scale(0.99);

