@import "_lib";

.icon-selector
	position absolute; opacity 0; size 415 400; bg #fff; border 2 #000; show 0; z 99;
	transition opacity .3s ease-out;

	&:before
	&:after
		position absolute; show 2; content ''; left 50%; border-style solid; border-width 10px;

	&:before
		border-color #000 transparent transparent transparent;
		bottom -20; margin-left -10px;

	&:after
		border-width 8px; border-color #fff transparent transparent transparent;
		bottom -15; margin-left -8px;


	.icon-selector-wrapper
		pos 0 0 0 0; padding 10; overflow hidden; overflow-y auto;
	.footer
		clear both; height 20;
	.header
		font 200 26px/1 'Open Sans', sans-serif; padding 20 0 10; show 2; clear both;
		color #333; border-bottom #888; margin 0 0 10;

		&:first-child
			padding-top 0;
	.icon
		size 32; float left; margin 0 2 2 0; position relative; z 1; cursor pointer;
		opacity 0.8
		&:hover
			outline 3px solid #222; z 10; opacity 1;
