@import "_lib";

.context-menu
	pos -1000; left -1000; bg #fff; color #222; margin 0; padding 7 0; opacity 0; transition opacity .2s ease-out;
	list-style none; border 2 #222;

	li
		margin 0; padding 7 10; cursor default; not-selectable(); white-space nowrap;
		&:hover
			bg #ccc;
		&:active
			bg #999;

		&.separator
			height 0; border-bottom #666; padding 0; margin 10;

	&.open
		opacity 1;