@import "_lib";

.sidebar
	pos 0 0 0; padding 10; width sidebar-width; transition transform .3s ease-out;
	transform translateX(px(sidebar-width));
	bg sidebar-bg; color #fff;

	&.expanded
		transform translateX(0);

