@import "_lib";

.tile
.tile-empty
	float left; u 0; transition transform .2s ease-out; not-selectable();
	margin: 5 0 0 5; line-height 1; word-wrap break-word;
	border 1px solid rgba(#fff, 0.2); // bg #2E8DEF;
	lgradient #4689F0 #4D90FD; color #fff;
	shadow 1 1 1 #000 0.1;
	cursor move;

	&:hover
		shadow 0 0 0 4 #fff 0.2;

	&.selected
		shadow 0 0 0 3 #333 1 inset; border #333;

	&.pressed
		transform scale(0.95);

	&.sortable-ghost
		opacity .5

.tile-empty
	cursor default;

.container.layout-apps
	.tile
	.tile-empty
		size 120; padding 46 10 10; text-align center; font 22; font-weight 100;
	.tile-empty
		font 60; padding 25 0 0; shadow none; transition opacity .3s; opacity 0.4;
		&:hover
			opacity 0.7
		&:active
			opacity 0.2


.container.layout-list
	.tile
	.tile-empty
		float none; display block; size auto 30; padding 8 10 0;

	&.pressed
		transform scale(0.99);

