@import "_lib";

.tile
	float left; bg #fff; not-selectable(); color #333; u 0; transition transform .2s ease-out;
	margin: 5 0 0 5;

	&:hover
		shadow 0 0 0 4 #aaa 1;

	&.selected
		shadow 0 0 0 4 #333 1 inset;

	&.pressed
		transform scale(0.95);

	&.sortable-ghost
		opacity .5


.container.layout-apps .tile
	size 120; padding 10; text-align center;

.container.layout-list .tile
	float none; display block; size auto 30; padding 5 10;

	&.pressed
		transform scale(0.99);
