<div class="tile-settings">
	<form name="tileForm" ng-keydown="onKeyPress($event)" ng-submit="submit()">
<!--
 		'id: {{data.id}},
		'color {{data.color}},
		'icon {{data.icon}},
 -->
		<input type="text" ng-model="data.name" value="{{data.name}}" placeholder="name" required />
		<input type="text" ng-model="data.url" value="{{data.url}}" placeholder="url" required />
		<!-- <input type="text" ng-model="data.group" value="{{data.group}}" placeholder="group" /> -->
		<input type="text" ng-model="data.icon" value="{{data.icon}}" placeholder="fa icon name" />

		<button type="submit" class="primary">save</button>
		<button type="button" ng-click="delete()" ng-hide="data.isNew" class="danger">delete</button>
	</form>
</div>
