@import "_lib";

html
	font-family sans-serif
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
html
body
	height 100%;

body
	margin 0; overflow hidden;

button
input
	font-family inherit; font-size 100%;
	&::-moz-focus-inner
		padding 0; border 0;
button
	cursor default;

*
	box-sizing border-box;
