@import "font-awesome.min.css";
@import "_lib";

html
body
	-ms-text-size-adjust 100%; -webkit-text-size-adjust 100%;
	size 100%; overflow hidden; position fixed; // <- chrome scroll bug

body
	margin 0; font 400 15px/1 'Open Sans', sans-serif; bg #4A5E71;

*
	box-sizing border-box;

label
button
input
	font inherit; height 27; vertical-align top;
	&::-moz-focus-inner
		padding 0; border 0;
	&:focus
		outline 2px dotted #888;

input
	border #d9d9d9; padding 0 5; bg #ccc; transition all .3s ease-out;
	&:focus
		bg #fff;

button
	cursor default; padding 0 15; bg #d9d9d9; color #222; outline none; font 14/1;
	border 1px solid transparent;

	// bg #008287; color #fff;
	// bg #1d1d1d; color #fff;

	&:focus
		border 1 dotted #353535;

	&:disabled
	&.disabled
		bg #eaeaea; color #bebebe; cursor not-allowed;

	&.primary
		bg #16499a; color #fff;

	&.info
		bg #4390df; color #fff;

	&.success
		bg #60a917; color #fff;

	&.warning
		bg #fa6800; color #fff;

	&.danger
		bg #9a1616; color #fff;

	&.link
		bg transparent; color #2e92cf;


