@import "_lib";

html
	font-family sans-serif
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
html
body
	height 100%;

body
	margin 0; overflow hidden; bg #ccc;

button
input
	font-family inherit; font-size 100%;
	&::-moz-focus-inner
		padding 0; border 0;
button
	cursor default;

*
	box-sizing border-box;

.main
	pos 0 0 0 0; overflow hidden; overflow-y auto; padding 5 10 0 5; transition all .3s ease-out;

.wrapper
	width 100%; padding 0 0 10;
	display flex; flex-flow row wrap; align-items flex-start;
