@import "_lib";

.main
	pos 0 0 0 0; overflow hidden; overflow-y auto; padding 60 60 0 40; transition all .3s ease-out;

.wrapper
	width 100%; padding 0 0 60;
	display flex; flex-flow row wrap; align-items flex-start;


.container
	position relative; margin 0 0 0 0; flex: 1 100%; align-self flex-start;


	&.layout-list
		flex 1 30%; min-width 300px; max-width 60%;

