@import "_lib";

.main
	pos 0 0 0 0; overflow hidden; overflow-y auto; padding 0; z 0; transition all .3s ease-out;

.wrapper
	width 100%; padding 20 30 60 20;
	display flex; flex-flow row wrap; align-items flex-start;


.container
	position relative; margin 0; padding 0 14;
	display flex; flex 1 100%; align-self flex-start; flex-flow row wrap;

	// &.layout-list
	&:not(:first-child)
		flex-flow column; flex 1 30%; min-width 160px; max-width 50%; margin-top 20px;
		padding 1 0 0;

	.group-name
		show 0;


.unlocked .container
	bg rgba(#000, 0.3); padding 5 10 40 5; margin 4 2 2 4;

	.group-name
		color #aaa; font 23; font-weight 100; padding 10 5; margin 0; show 2;
