@import "_lib";

#padlock
	position absolute; left 2; bottom 2; padding 0; color #999; font 20; u 0; cursor default;
	transition color .2s ease-out; z 9;

	i
		padding 7 10;
		&:hover
			color #ccc;

		&:active
			color #888;

	.fa-sign-out
		show 0;

	.loading
		bg 'loading27.gif'; show 2; size 27; margin 7 10;

	&.unlocked
		.fa-sign-out
			show 1;

	&.online .fa-lock
		color #3E933E;