@import "_lib";

#padlock
	position absolute; left 2; bottom 2; padding 0; color #999; font 20; u 0; cursor default;
	transition color .2s ease-out; z 9;

	i
		padding 7 10;
		&:hover
			color #ccc;

		&:active
			color #888;

	.authbox
		font 200 16px/1 'Open Sans', sans-serif; opacity 0; border 2 #222;
		size 20; padding 10; position absolute; left 0; bottom 0; bg #fff; z -1;
		transition all .3s ease-out;

		h1
			font 24px; font-weight 200; color #333; margin 0; padding 0 0 15;
		input
			font 14; bg #fff; border 2 #333; margin 0; width 99%; padding 3 5;
		button
			float right; margin 9 2 0 0;

	.loading
		bg 'loading27.gif'; show 2; size 27; margin 7 10;

	&.open
		.authbox
			opacity 1; size 260 120;

	&.unlocked
		.authbox
			opacity 0; size 20;